<div class = "col-md-8">
<% @items.each do |item| %>
    <div class="article">
      <h2><%= item.title %></h2>
      <p><%= item.category %> <%= item.created_at.strftime('%Y/%m/%d %H:%M') %></p>
      <p><%= truncate(item.body, length: 50) %></p>
      <p>
        <%= link_to "続きを読む", item_path(item.id), class: 'btn btn-default' %>
      </p>
    </div>
  <% end %>
  </div>

<div class = "col-md-4">
<div class="thumbnail">
    <% author = Author.first %>
    <img src="<%= author.image_url %>" alt="著者イメージ">
    <div class="caption">
      <h3><%= author.name %></h3>
      <p><%= author.description %></p>
    </div>
  </div>

  <div class="list-group">
    <% @items.each_with_index do |item, index| %>
      <%# ６個目以上の記事の場合はBreak（each文をその場で終わらせる） %>
      <% if index >= 5
           break
         end
      %>
      <%# link_to item.title, item_path(item.id), class: "list-group-item" %>
      <a href="/items/<%= item.id %>" class="list-group-item"><%= item.title %></a>
    <% end %>
  </div>
</div>
